* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system;
}

html,
body {
	color: oklch(0.7319 0.1858 52.98); /* rgb(255, 128, 0) */
	background: black;
	height: 100%;
	width: 100%;
}

body {
	padding: 4px;
}

body > div {
	flex-flow: row nowrap;
	display: flex;
	width: 100%;
	gap: 4px;
}

.prompt {
	position: relative;
	bottom: 0;
}

label {
	user-select: none;
	height: 20px;
}

input {
	color: oklch(0.7319 0.1858 52.98);
	outline: transparent;
	background: none;
	border: none;
	height: 20px;
	flex: 1;
}

.output {
	flex-flow: column-reverse nowrap;
	display: flex;

}