* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: system-ui, -apple-system;
}

html,
body {
	background: #000;
	position: static;
	overflow: hidden;
	height: 100svh;
	width: 100svw;
	z-index: 0;
}

body {
	justify-content: center;
	position: relative;
	display: flex;
}

.Background,
.Space {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.Space > * { pointer-events: all; }

.Background	{ z-index: 00; }
.Launcher	{ z-index: 10; }
.Window 	{ z-index: 20; }
.AppDock	{ z-index: 30; }
.Error		{ z-index: 40; }

.Background {
	pointer-events: none;
	user-select: none;
	height: 100svh;
	width: 100svw;
}

.Background > * {
	width: 100%;
	height: 100%;
}

.AppDock {
	justify-content: center;
	will-change: translate;
	flex-flow: row nowrap;
	align-content: center;
	position: absolute;
	overflow-y: hidden;
	border-radius: 6px;
	overflow-x: auto;
	min-width: 20%;
	max-width: 90%;
	display: flex;
	bottom: 16px;
	height: 32px;
}

.AppDock .Open {
	flex-flow: row nowrap;
	overflow-x: scroll;
	padding: 4px 4px;
	display: flex;
	height: 100%;
	flex: 1;
}

[icon] {
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
	background: none;
	aspect-ratio: 1;
	margin: 0 2px;
	border: none;
	height: 100%;
}

[icon] img {
	max-height: 100%;
	aspect-ratio: 1;
}

[icon] p {
	display: none;
}

.AppDock .Clock {
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	aspect-ratio: 2 / 1;
	user-select: none;
	display: flex;
	height: 100%;
}

.AppDock .Clock p {
	font-size: 75%;
}

.AppDock .Clock .Time,
.AppDock .Clock .Date {
	justify-content: center;
	align-content: start;
	display: flex;
	height: 50%;
	width: 100%;
}

.AppDock .Clock .Time :nth-last-child(1),
.AppDock .Clock .Time :nth-last-child(2) {
	display: none;
}

.AppDock .Clock.showSeconds .Time :nth-last-child(1),
.AppDock .Clock.showSeconds .Time :nth-last-child(2) {
	display: inline;
}

.Launcher {
	justify-content: flex-start;
	align-content: flex-start;
	flex-flow: column wrap;
	display: flex;
	padding: 8px;
	gap: 4px 8px;
}

.Assets {
	position: absolute;
	display: none;
}

[launcher] {
	flex-flow: column nowrap;
	justify-content: center;
	user-select: none;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	width: 5vmin;
	border: none;
}

[launcher] img {
	aspect-ratio: 1;
	max-width: 100%;
}

[launcher] p {
	text-transform: uppercase;
	text-align: center;
	font-weight: 1000;
	flex: 1;
}

[app] {
	will-change: transform;
	min-height: 12.5vmin;
	min-width: 12.5vmin;
	position: absolute;
	border-radius: 8px;
	max-height: 99%;
	max-width: 99%;
	padding: 6px;

	width: 37.5vmax;
	height: 37.5vmin;
}

[app]::before {
	position: absolute;
	border-radius: 6px;
	content: "";
	inset: 2px;
}

[app]::after {
	margin-inline: calc(50% - 12px);
	pointer-events: none;
	position: absolute;
	opacity: 25%;
	width: 12px;
	content: "";
	height: 4px;
	bottom: 2px;
}

[app].focus::after { opacity: 100%; }

[app].resizeX,
[app].resizeY,
[app].resizeXY1,
[app].resizeXY2,
[app].opening { transition: none; }

[app].from-maximised {
	max-height: 100%;
	max-width: 100%;
}

[app].maximised {
	transform: translate(0) !important;
	height: 100% !important;
	width: 100% !important;
	max-height: 100%;
	max-width: 100%;
}

[app].minimized {
	display: none;
}

[app].closing {
	pointer-events: none;
	opacity: 0;
}

[app] .titlebar {
	justify-content: space-between;
	padding: 0 1vmin 4px 1vmin;
	align-content: center;
	flex-flow: row nowrap;
	border-radius: 4px;
	user-select: none;
	height: 2.5vmin;
	display: flex;
	width: 100%;
}

[app] .titlebar .icon {
	justify-content: flex-start;
	align-content: center;
	pointer-events: none;
	user-select: none;
	aspect-ratio: 1;
	display: flex;
	height: 100%;
	flex: 1;
}

[app] .titlebar .icon img {
	aspect-ratio: 1;
	max-width: 100%;
}

[app] .titlebar .title {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.25vmin;
	margin: auto;
	flex: 1;
}

[app] .titlebar .buttons {
	justify-content: flex-end;
	flex-flow: row nowrap;
	pointer-events: none;
	align-items: center;
	overflow: hidden;
	display: flex;
	height: 100%;
	gap: .5vmin;
	flex: 1;
}

[app] .titlebar .buttons button {
	pointer-events: all;
	border-radius: 4px;
	aspect-ratio: 1.25;
	height: 75%;
	border: 0;
}

[app] .wrapper {
	height: calc(100% - 2.5vmin);
	pointer-events: none;
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
	width: 100%;
}

[app].focus .wrapper { pointer-events: all; }

[app] .wrapper iframe {
	width: 100%;
	height: 100%;
}

.Window:has([app].moving) .wrapper,
.Window:has([app].resizeX) .wrapper,
.Window:has([app].resizeY) .wrapper,
.Window:has([app].resizeXY1) .wrapper,
.Window:has([app].resizeXY2) .wrapper {
	pointer-events: none !important;
}

body:has([app].moving) { cursor: grabbing; }
body:has([app].resizeX) { cursor: e-resize; }
body:has([app].resizeY) { cursor: n-resize; }
body:has([app].resizeXY1) { cursor: nw-resize; }
body:has([app].resizeXY2) { cursor: ne-resize; }