* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: system-ui, -apple-system;
}

html,
body {
	position: static;
	overflow: hidden;
	height: 100svh;
	width: 100svw;
	z-index: 0;
}

body {
	justify-content: center;
	position: relative;
	display: flex;
}

.Background,
.Space {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.Space > * { pointer-events: all; }

.Background	{ z-index: 00; }
.Launcher	{ z-index: 10; }
.Window 	{ z-index: 20; }
.AppDock	{ z-index: 30; }
.Error		{ z-index: 40; }

.Background {
	height: 4320px;
	width: 7680px;
}

.Background > * {
	width: 100%;
	height: 100%;
}

.AppDock {
	animation: AppDock-maximised-up 250ms cubic-bezier(.25, -0.25, .5, 0) normal forwards;
	justify-content: center;
	will-change: translate;
	flex-flow: row nowrap;
	align-content: center;
	position: absolute;
	overflow-y: hidden;
	border-radius: 6px;
	overflow-x: auto;
	min-width: 20%;
	max-width: 90%;
	display: flex;
	bottom: 16px;
	height: 32px;
}

body:has(.maximised) .AppDock {
	opacity: 0;
	animation: AppDock-maximised-down 250ms cubic-bezier(.25, -0.25, .5, 0) normal none;
}

body:has(.maximised) .AppDock.up {
	opacity: 1;
	animation: AppDock-maximised-up 250ms cubic-bezier(.25, -0.25, .5, 0) normal forwards;
}

body:has(.maximised) .AppDock.up:hover { opacity: 1; }

.AppDock .Open {
	flex-flow: row nowrap;
	overflow-x: scroll;
	padding: 4px 4px;
	display: flex;
	height: 100%;
	flex: 1;
}

.AppDock .Open div[name="DockIcon"] {
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
	aspect-ratio: 1;
	height: 100%;
	margin: 0 2px;
}

.AppDock .Open div[name="DockIcon"] img {
	max-height: 100%;
	aspect-ratio: 1;
}

.AppDock .Clock {
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	aspect-ratio: 2 / 1;
	user-select: none;
	display: flex;
	height: 100%;
}

.AppDock .Clock p {
	font-size: 75%;
}

.AppDock .Clock .Time,
.AppDock .Clock .Date {
	justify-content: center;
	align-content: start;
	display: flex;
	height: 50%;
	width: 100%;
}

.AppDock .Clock .Time :nth-last-child(1),
.AppDock .Clock .Time :nth-last-child(2) {
	display: none;
}

.AppDock .Clock.showSeconds .Time :nth-last-child(1),
.AppDock .Clock.showSeconds .Time :nth-last-child(2) {
	display: inline;
}

.Launcher {
	justify-content: flex-start;
	align-content: flex-start;
	flex-flow: column wrap;
	display: flex;
	padding: 8px;
	gap: 4px 8px;
}

.Assets {
	position: absolute;
	display: none;
}

div[name="Launcher"] {
	flex-flow: column nowrap;
	justify-content: center;
	user-select: none;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	width: 5vmin;
}

div[name="Launcher"] img {
	aspect-ratio: 1;
	max-width: 100%;
}

div[name="Launcher"] h6 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 1000;
	flex: 1;
}

div[name="Window"] {
	transition: transform 25ms cubic-bezier(.25, .5, 1, 1);
	will-change: transform;
	min-height: 12.5vmin;
	min-width: 12.5vmin;
	position: absolute;
	border-radius: 8px;
	max-height: 95%;
	max-width: 95%;
	padding: 6px;

	width: 37.5vmax;
	height: 37.5vmin;
}

div[name="Window"]::before {
	position: absolute;
	border-radius: 6px;
	content: "";
	inset: 2px;
}

div[name="Window"].maximised::before {
	border-radius: 0;
	inset: 0;
	transition: inset 100ms linear,
		border-radius 100ms linear;
}

div[name="Window"]::after {
	margin-inline: calc(50% - 12px);
	pointer-events: none;
	position: absolute;
	opacity: 25%;
	width: 12px;
	content: "";
	height: 4px;
	bottom: 2px;
}

div[name="Window"].focus::after { opacity: 100%; }

div[name="Window"].resizeX,
div[name="Window"].resizeY,
div[name="Window"].resizeXY1,
div[name="Window"].resizeXY2,
div[name="Window"].opening { transition: none; }

div[name="Window"].from-maximised {
	max-width: 100%;
	max-height: 100%;
	transition: transform 100ms cubic-bezier(.25, .5, 1, 1),
		width 100ms cubic-bezier(.25, .5, 1, 1),
		height 100ms cubic-bezier(.25, .5, 1, 1);
}

div[name="Window"].maximised {
	transform: translate(0) !important;
	height: 100% !important;
	width: 100% !important;
	max-width: 100%;
	max-height: 100%;
	transition: transform 100ms cubic-bezier(.25, .5, 1, 1),
		width 100ms cubic-bezier(.25, .5, 1, 1),
		height 100ms cubic-bezier(.25, .5, 1, 1);
}

div[name="Window"].minimized {
	display: none;
}

div[name="Window"].closing {
	transition-duration: 100ms;
	pointer-events: none;
	filter: blur(50px);
	opacity: 0;
}

div[name="Window"] .Titlebar {
	justify-content: space-between;
	padding: 0 1vmin 4px 1vmin;
	align-content: center;
	flex-flow: row nowrap;
	border-radius: 4px;
	user-select: none;
	height: 2.5vmin;
	display: flex;
	width: 100%;
}

div[name="Window"] .Titlebar .IconWrapper {
	justify-content: flex-start;
	align-content: center;
	pointer-events: none;
	user-select: none;
	aspect-ratio: 1;
	display: flex;
	height: 100%;
	flex: 1;
}

div[name="Window"] .Titlebar .Title {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.25vmin;
	margin: auto;
	flex: 1;
}

div[name="Window"] .Titlebar .Buttons {
	justify-content: flex-end;
	flex-flow: row nowrap;
	pointer-events: none;
	align-items: center;
	overflow: hidden;
	display: flex;
	height: 100%;
	gap: .5vmin;
	flex: 1;
}

div[name="Window"] .Titlebar .Buttons button {
	pointer-events: all;
	border-radius: 4px;
	aspect-ratio: 1.25;
	height: 75%;
	border: 0;
}

div[name="Window"] .ContentWrapper {
	height: calc(100% - 2.5vmin);
	pointer-events: none;
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
	width: 100%;
}

div[name="Window"].focus .ContentWrapper { pointer-events: all; }

.Window:has(div[name="Window"].moving) .ContentWrapper,
.Window:has(div[name="Window"].resizeX) .ContentWrapper,
.Window:has(div[name="Window"].resizeY) .ContentWrapper,
.Window:has(div[name="Window"].resizeXY1) .ContentWrapper,
.Window:has(div[name="Window"].resizeXY2) .ContentWrapper {
	pointer-events: none !important;
}

body:has(div[name="Window"].moving) { cursor: grabbing; }
body:has(div[name="Window"].resizeX) { cursor: e-resize; }
body:has(div[name="Window"].resizeY) { cursor: n-resize; }
body:has(div[name="Window"].resizeXY1) { cursor: nw-resize; }
body:has(div[name="Window"].resizeXY2) { cursor: ne-resize; }