/* App Dock */
.AppDock {
	background: var(--appDock-background);
	border: solid var(--appDock-border) var(--appDock-borderWidth);
	color: var(--appDock-text);
}

/* App Dock Clock */
.AppDock .Clock p {
	color: transparent;
	background: var(--appDock-text);
	background-clip: text;
}

/* Launcher */
div[name="Launcher"] {
	color: var(--launchers-text);
}

/* Unfocused Window Border */
div[name="Window"] {
	background: var(--windows-border);
	color: var(--windows-title);
}

/* Unfocused Window Background */
div[name="Window"]::before {
	background: var(--windows-background);
}

/* Unfocused Window Dots */
div[name="Window"]::after {
	background: radial-gradient(circle, var(--windows-dots) 37.5%, transparent 50%);
}

/* Focused Window Border */
div[name="Window"].focus {
	background: var(--windows-focus-border);
}

/* Focused Window Background */
div[name="Window"].focus::before {
	background: var(--windows-focus-background);
}

/* Focused Window Dots */
div[name="Window"].focus::after {
	background: radial-gradient(circle, var(--windows-focus-dots) 37.5%, transparent 50%);
}

/* Unfocused Window Buttons */
div[name="Window"] .Titlebar .Buttons button:nth-child(1) { background: var(--windows-buttons-minimize); }
div[name="Window"] .Titlebar .Buttons button:nth-child(2) { background: var(--windows-buttons-maximize); }
div[name="Window"] .Titlebar .Buttons button:nth-child(3) { background: var(--windows-buttons-close); }

/* Focused Window Buttons */
div[name="Window"].focus .Titlebar .Buttons button:nth-child(1) { background: var(--windows-focus-buttons-minimize); }
div[name="Window"].focus .Titlebar .Buttons button:nth-child(2) { background: var(--windows-focus-buttons-maximize); }
div[name="Window"].focus .Titlebar .Buttons button:nth-child(3) { background: var(--windows-focus-buttons-close); }