/* App Dock */
.AppDock {
	background: var(--appdock-color-background);
	border: var(--appdock-appearance-border-style) var(--appdock-color-border) var(--appdock-appearance-border-width);
	color: var(--appdock-color-text);
}

/* App Dock Clock */
.AppDock .Clock p {
	color: transparent;
	background: var(--appdock-color-text);
	background-clip: text;
}

/* Launcher */
[launcher] {
	color: var(--launchers-color-text);
}

/* Unfocused Window Border */
[app] {
	background: var(--windows-color-border);
	color: var(--windows-color-title);
}

/* Unfocused Window Background */
[app]::before {
	background: var(--windows-color-background);
}

/* Unfocused Window Dots */
[app]::after {
	background: radial-gradient(circle, var(--windows-color-dots) 37.5%, transparent 50%);
	background-size: 4px 4px;
	background-repeat: space;
}

/* Focused Window Border */
[app].focus {
	background: var(--windows-color-focus-border);
}

/* Focused Window Background */
[app].focus::before {
	background: var(--windows-color-focus-background);
}

/* Focused Window Dots */
[app].focus::after {
	background: radial-gradient(circle, var(--windows-color-focus-dots) 37.5%, transparent 50%);
	background-size: 4px 4px;
	background-repeat: space;
}

/* Unfocused Window Buttons */
[app] .titlebar button:nth-child(1) { background: var(--windows-color-buttons-mini); }
[app] .titlebar button:nth-child(2) { background: var(--windows-color-buttons-maxi); }
[app] .titlebar button:nth-child(3) { background: var(--windows-color-buttons-close); }

/* Focused Window Buttons */
[app].focus .titlebar button:nth-child(1) { background: var(--windows-color-focus-buttons-mini); }
[app].focus .titlebar button:nth-child(2) { background: var(--windows-color-focus-buttons-maxi); }
[app].focus .titlebar button:nth-child(3) { background: var(--windows-color-focus-buttons-close); }