* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: system-ui, -apple-system;
}

html,
body {
	height: 100svh;
	width: 100svw;
}

body {
	justify-content: center;
	align-content: center;
	display: flex;
}

nav {
	border-right: solid 2px rgba(0, 0, 0, 10%);
	scroll-behavior: smooth;
	padding: 0 8px;
	width: 192px;
	height: 100%;
}

nav section {
	margin-bottom: 8px;
}

nav section h6 {
	color: rgba(0, 0, 0, 37.5%);
	font-size: 1rem;
	display: block;
}

nav section button {
	flex-flow: row nowrap;
	border-radius: 8px;
	user-select: none;
	background: none;
	cursor: pointer;
	display: flex;
	padding: 2px;
	border: none;
	margin: 2px;
	width: 100%;
	gap: 4px;
}

nav section button:hover {
	background: rgba(0, 0, 0, 10%);
}

nav button svg {
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke: currentColor;
	stroke-width: 2;
	aspect-ratio: 1;
	height: 16px;
	fill: none;
}

main {
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 4px;
	height: 100%;
	flex: 1;
}

main > div {
	display: none;
	height: 100%;
	width: 100%;
}

main > div:first-child {
	display: block;
}

[colors] hr {
	border: solid 1px black;
	margin: 8px auto;
	width: 95%;
}

[colors] h5 {
	margin-bottom: 4px;
	font-size: 1rem;
}

[colors] > div {
	padding: 0 8px;
	display: flex;
	gap: 4px;
}

[colors] .Windows {
	flex-flow: row nowrap;
	height: max-content;
	display: flex;
	width: 100%;
}

[colors] .Windows section {
	flex-flow: column nowrap;
	display: flex;
	width: 50%;
	gap: 4px;
}

[colors] .AppDock,
[colors] .Launchers {
	flex-flow: column nowrap;
	display: flex;
	gap: 4px;
}

[colors] .Propriety {
	flex-flow: row nowrap;
	display: flex;
	gap: 4px;
}

[colors] .Propriety input {
	border-radius: 4px;
	background: none;
	border: none;
}

[colors] .Propriety p {
	margin: auto 0;
}