* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: system-ui, -apple-system;
}

html,
body {
	height: 100svh;
	width: 100svw;
}

body {
	justify-content: center;
	align-content: center;
	display: flex;
}

aside {
	border-right: solid 2px rgba(0, 0, 0, 10%);
	width: 192px;
	scroll-behavior: smooth;
	overflow-x: scroll;
	height: 100%;
	padding: 0 8px;
}

aside section {
	margin-bottom: 8px;
}

aside section h6 {
	color: rgba(0, 0, 0, 37.5%);
	font-size: 1rem;
	display: block;
}

aside section button {
	flex-flow: row nowrap;
	border-radius: 8px;
	user-select: none;
	background: none;
	cursor: pointer;
	display: flex;
	padding: 2px;
	border: none;
	margin: 2px;
	width: 100%;
	gap: 4px;
}

aside section button:hover {
	background: rgba(0, 0, 0, 10%);
}

aside button svg {
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke: currentColor;
	stroke-width: 2;
	aspect-ratio: 1;
	height: 16px;
	fill: none;
}

main {
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 4px;
	height: 100%;
	flex: 1;
}

main > div {
	width: 100%;
	height: 100%;
	display: none;
}

main > div:first-child {
	display: block;
}

div[name="Customization"] .Preview {
	aspect-ratio: 16/9;
	margin: 16px auto;
	background: red;
	max-width: 512px;
	width: 100%;
}

div[name="Customization"] hr {
	width: 90%;
	border: solid 1px black;
	margin: 0 auto 8px auto;
}

div[name="Customization"] nav {
	width: 100%;
	height: 5%;
	background: green;
}

div[name="Customization"] .Tabs {
	width: 100%;
	height: 100%;
	background: yellow;
}

div[name="Customization"] .Tabs .Colors {
	flex-flow: row wrap;
	display: flex;
	width: 100%;
	height: 100%;
}

div[name="Customization"] .Tabs .Colors .Propriety {
	flex-flow: row nowrap;
	display: flex;
	height: 10%;
	width: 50%;
	gap: 4px;
}

div[name="Customization"] .Propriety input[type="color"] {
	background: none;
	border: none;
}