/* ----- Size and layout customization ----- */

* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: system-ui, -apple-system;
}

html,
body {
	background: #000;
	position: static;
	overflow: hidden;
	height: 100svh;
	width: 100svw;
	z-index: 0;
}

body {
	justify-content: center;
	position: relative;
	display: flex;
}

.Background,
.Space {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.Space > * { pointer-events: all; }

.Space.Background{ z-index: 00; }
.Space.Launcher  { z-index: 10; }
.Space.Window 	 { z-index: 20; }
.Space.Error	 { z-index: 40; }

.Background {
	pointer-events: none;
	user-select: none;
	height: 100svh;
	width: 100svw;
}

.Background > * {
	width: 100%;
	height: 100%;
}

.Launcher {
	justify-content: flex-start;
	align-content: flex-start;
	flex-flow: column wrap;
	display: flex;
	padding: 8px;
	gap: 4px 8px;
}

.AppDock {
	justify-content: center;
	will-change: translate;
	flex-flow: row nowrap;
	align-content: center;
	position: absolute;
	overflow-y: hidden;
	border-radius: 6px;
	min-width: 20%;
	max-width: 90%;
	display: flex;
	bottom: 16px;
	height: 32px;
	z-index: 30;
}

.AppDock .Open {
	justify-content: start;
	flex-flow: row nowrap;
	scrollbar-width: thin;
	align-items: center;
	overflow-x: auto;
	padding: 4px 4px;
	display: flex;
	height: 100%;
	flex: 1;
}

.AppDock .Open::-webkit-scrollbar {
	height: 4px;
}

[icon] {
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
	background: none;
	aspect-ratio: 1;
	flex-shrink: 0;
	margin: 0 2px;
	border: none;
	height: 100%;
}

[icon] .icon {
	max-height: 100%;
	aspect-ratio: 1;
}

[icon] p {
	display: none;
}

.AppDock .Clock {
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	aspect-ratio: 2 / 1;
	user-select: none;
	display: flex;
	height: 100%;
}

.AppDock .Clock p {
	font-size: 75%;
}

.AppDock .Clock .Time,
.AppDock .Clock .Date {
	justify-content: center;
	align-content: start;
	display: flex;
	height: 50%;
	width: 100%;
}

.AppDock .Clock .Time:not(.showSeconds) :nth-last-child(1),
.AppDock .Clock .Time:not(.showSeconds) :nth-last-child(2) {
	display: none;
}

[launcher] {
	flex-flow: column nowrap;
	justify-content: center;
	user-select: none;
	overflow: hidden;
	background: none;
	cursor: pointer;
	display: flex;
	width: 5vmin;
	border: none;
}

[launcher] .icon {
	aspect-ratio: 1;
	max-width: 100%;
}

[launcher] .name {
	text-transform: capitalize;
	text-align: center;
	flex: 1;
}

[app] {
	padding: calc(var(--windows-appearance-border) + var(--windows-appearance-padding));
	border-radius: calc(var(--windows-appearance-border) * 2 + var(--windows-appearance-padding));
	will-change: top, left, width, height;
	min-height: 12.5vmin;
	min-width: 12.5vmin;
	position: absolute;
}

[app]::before {
	border-radius: calc(var(--windows-appearance-border) + var(--windows-appearance-padding));
	inset: var(--windows-appearance-border);
	position: absolute;
	content: "";
}

[app]::after {
	margin-inline: calc(50% - 12px);
	pointer-events: none;
	position: absolute;
	opacity: 25%;
	width: 12px;
	content: "";
	height: 4px;
	bottom: 2px;
}

[app].focus::after { opacity: 100%; }

[app].maximised {
	left: 0 !important;
	top: 0 !important;

	height: 100%;
	width: 100%;
}

[app].minimised {
	display: none;
}

[app] .titlebarWrapper {
	user-select: none;
	overflow: hidden;
	height: 2.5vmin;
	width: 100%;
}

[app] .titlebarWrapper .titlebar {
	user-select: none;
	border: none;
	height: 100%;
	width: 100%;
}

[app] .contentWrapper {
	min-height: var(--windows-appearance-min-height);
	min-width: var(--windows-appearance-min-width);

	max-height: var(--windows-appearance-max-height);
	max-width: var(--windows-appearance-max-width);

	height: var(--windows-appearance-height);
	width: var(--windows-appearance-width);

	pointer-events: none;
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
}

[app].maximised .contentWrapper {
	height: 100% !important;
	width: 100% !important;
	max-height: 100vmin;
	max-width: 100vmax;
}

[app].resizing .contentWrapper {
	pointer-events: none;
	user-select: none;
}

[app].focus .contentWrapper { pointer-events: all; }

[app] .contentWrapper .content {
	user-select: none;
	border: none;
	height: 100%;
	width: 100%;
}

.Window:has([app].moving) { cursor: grabbing; }
.Window:has([app].X) { cursor: e-resize; }
.Window:has([app].Y) { cursor: n-resize; }
.Window:has([app].XY1) { cursor: nw-resize; }
.Window:has([app].XY2) { cursor: ne-resize; }

/* ----- Color customization ----- */

/* App Dock */
.AppDock {
	border: var(--appdock-appearance-border-style) var(--appdock-color-border) var(--appdock-appearance-border-width);
	background: var(--appdock-color-background);
	color: var(--appdock-color-text);
}

/* App Dock Clock */
.AppDock .Clock p {
	background: var(--appdock-color-text);
	background-clip: text;
	color: transparent;
}

/* Launcher */
[launcher] {
	color: var(--launchers-color-text);
}

/* Unfocused Window Border */
[app] {
	background: var(--windows-color-border);
	color: var(--windows-color-title);
}

/* Unfocused Window Background */
[app]::before {
	background: var(--windows-color-background);
}

/* Unfocused Window Dots */
[app]::after {
	background: radial-gradient(circle, var(--windows-color-dots) 37.5%, transparent 50%);
	background-size: 4px 4px;
	background-repeat: space;
}

/* Focused Window Border */
[app].focus {
	background: var(--windows-color-focus-border);
}

/* Focused Window Background */
[app].focus::before {
	background: var(--windows-color-focus-background);
}

/* Focused Window Dots */
[app].focus::after {
	background: radial-gradient(circle, var(--windows-color-focus-dots) 37.5%, transparent 50%);
	background-size: 4px 4px;
	background-repeat: space;
}

/* ----- Animations ----- */

.Window.Space:has(.maximised:not(.minimised)) ~ .AppDock:hover {
	animation: AppDock-maximised-up 250ms cubic-bezier(.25, -0.25, .5, 0) normal forwards;
	opacity: 1;
}

.Window.Space:has(.maximised:not(.minimised)) ~ .AppDock {
	animation: AppDock-maximised-down 250ms cubic-bezier(.25, -0.25, .5, 0) normal none;
	opacity: 0;
}

.AppDock {
	animation: AppDock-maximised-up 250ms cubic-bezier(.25, -0.25, .5, 0) normal forwards;
}

[app] {
	transition: transform 25ms cubic-bezier(.25, .5, 1, 1);
}

[app].resizeX,
[app].resizeY,
[app].resizeXY1,
[app].resizeXY2,
[app].opening { transition: none; }

[app].maximised::before {
	border-radius: 0;
	inset: 0;
	transition: inset 100ms linear,
		border-radius 100ms linear;
}

[app].maximised {
	transition: transform 100ms cubic-bezier(.25, .5, 1, 1),
		width 100ms cubic-bezier(.25, .5, 1, 1),
		height 100ms cubic-bezier(.25, .5, 1, 1);
}

[app].from-maximised {
	transition: transform 100ms cubic-bezier(.25, .5, 1, 1),
		width 100ms cubic-bezier(.25, .5, 1, 1),
		height 100ms cubic-bezier(.25, .5, 1, 1);
}

[app].closing {
	transition-duration: 100ms;
}

/* ----- Keyframes animations ----- */

@keyframes AppDock-maximised-up {
	from {
		opacity: 1;
		translate: 0 200%;
	}
	to {
		opacity: 1;
		translate: 0 0;
	}
}

@keyframes AppDock-maximised-down {
	from {
		opacity: 1;
		translate: 0 0;
	}
	to {
		opacity: 1;
		translate: 0 200%;
	}
}