/* ----- Size and layout customization ----- */

* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: var(--font1), var(--font2), system-ui, -apple-system;
}

:root {
	--font1: ;
	--font2: ;

	--launchers-text: ;
	
	--dock-border-radius: ;
	--dock-border: ;
	--dock-background: ;
	--dock-text: ;
	--dock-bottom: ;
	--dock-height: ;
	
	--window-border: ;
	--window-focus-border: ;
	--window-background: ;
	--window-focus-background: ;
	--window-padding: ;
	--window-titlebar: ;
	--window-title: ;
	--window-min-height: ;
	--window-min-width: ;
	--window-max-height: ;
	--window-max-width: ;
	--window-height: ;
	--window-width: ;
	--window-dots: ;
	--window-focus-dots: ;

	--animations-open: ;
	--animations-close: ;
	--animations-to-minimised: ;
	--animations-to-maximised: ;
	--animations-from-minimised: ;
	--animations-from-maximised: ;
	--animations-dock-up: ;
	--animations-dock-down: ;
}

html,
body {
	background: #000;
	position: static;
	overflow: hidden;
	height: 100svh;
	width: 100svw;
	z-index: 0;
}

body {
	justify-content: center;
	position: relative;
	display: flex;
}

.NoConnection {
	pointer-events: none !important;
	backdrop-filter: blur(99px);
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	position: absolute;
	overflow: hidden;
	font-weight: 500;
	color: gray;
	display: none;
	height: 2vmin;
	padding: 1px;
	width: 100%;
	z-index: 9;
	gap: 4px;
	left: 0;
	top: 0;
}

.NoConnection:has(.visible) {
	display: flex;
}

.NoConnection svg {
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke: currentColor;
	stroke-width: 2;
	aspect-ratio: 1;
	height: 100%;
	fill: none;
}

.Background,
.Space {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.Space > * { pointer-events: all; }

.Space.Background{ z-index: 00; }
.Space.Launcher  { z-index: 10; }
.Space.Window 	 { z-index: 20; }
.Space.Error	 { z-index: 40; }

.Background {
	pointer-events: none;
	user-select: none;
	height: 100svh;
	width: 100svw;
}

.Background > * {
	width: 100%;
	height: 100%;
}

.Launcher {
	justify-content: flex-start;
	align-content: flex-start;
	flex-flow: column wrap;
	display: flex;
	padding: 8px;
	gap: 4px 8px;
}

.Dock {
	justify-content: center;
	will-change: translate, opacity;
	flex-flow: row nowrap;
	align-content: center;
	position: absolute;
	overflow-y: hidden;
	border-radius: var(--dock-border-radius);
	min-width: 20%;
	max-width: 90%;
	display: flex;
	bottom: var(--dock-bottom);
	height: var(--dock-height);
	z-index: 30;
}

.Dock .Open {
	justify-content: start;
	flex-flow: row nowrap;
	scrollbar-width: thin;
	align-items: center;
	overflow-x: auto;
	padding: 4px 4px;
	display: flex;
	height: 100%;
	flex: 1;
}

.Dock .Open::-webkit-scrollbar {
	height: 4px;
}

[icon] {
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
	background: none;
	aspect-ratio: 1;
	flex-shrink: 0;
	margin: 0 2px;
	border: none;
	height: 100%;
}

[icon] .icon {
	max-height: 100%;
	aspect-ratio: 1;
}

[icon] p {
	display: none;
}

.Dock .Clock {
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	aspect-ratio: 2 / 1;
	user-select: none;
	display: flex;
	height: 100%;
}

.Dock .Clock p {
	font-size: 75%;
}

.Dock .Clock .Time,
.Dock .Clock .Date {
	justify-content: center;
	align-content: start;
	display: flex;
	height: 50%;
	width: 100%;
}

.Dock .Clock .Time:not(.showSeconds) :nth-last-child(1),
.Dock .Clock .Time:not(.showSeconds) :nth-last-child(2) {
	display: none;
}

[launcher] {
	flex-flow: column nowrap;
	justify-content: center;
	user-select: none;
	overflow: hidden;
	background: none;
	cursor: pointer;
	display: flex;
	width: 5vmin;
	border: none;
}

[launcher] .icon {
	aspect-ratio: 1;
	max-width: 100%;
}

[launcher] .name {
	text-transform: capitalize;
	text-align: center;
	display: none;
	flex: 1;
}

.Launcher.showTitles [launcher] .name {
	display: inline;
}

[app] {
	will-change: top, left, width, height;

	padding: calc(var(--window-border) + var(--window-padding));
	border-radius: calc(var(--window-border) * 2 + var(--window-padding));
	position: absolute;
}

[app]::before {
	border-radius: calc(var(--window-border) + var(--window-padding));
	inset: var(--window-border);
	position: absolute;
	content: "";
}

[app]::after {
	margin-inline: calc(50% - (var(--window-border) + var(--window-padding)) * 2);
	pointer-events: none;
	position: absolute;
	opacity: 25%;
	content: "";
	width: 12px;
	height: 4px;
	bottom: 2px;
}

[app].focus::after { opacity: 100%; }

[app].loading {
	opacity: 0;
	transition: none;
}

[app].maximised::before {
	border-radius: 0;
	inset: 0;
}

[app] .titlebarWrapper {
	padding-bottom: var(--window-padding);

	user-select: none;
	overflow: hidden;
	height: var(--window-titlebar);
	width: 100%;
}

[app] .titlebarWrapper .titlebar {
	user-select: none;
	border: none;
	height: 100%;
	width: 100%;
}

[app] .contentWrapper {
	will-change: width, height;

	min-height: var(--window-min-height);
	min-width: var(--window-min-width);

	max-height: var(--window-max-height);
	max-width: var(--window-max-width);

	height: var(--window-height);
	width: var(--window-width);

	pointer-events: none;
	border-radius: 4px;
	user-select: none;
	overflow: hidden;
}

[app].resizing .contentWrapper {
	pointer-events: none;
	user-select: none;
}

[app].focus .contentWrapper { pointer-events: all; }

[app] .contentWrapper .content {
	user-select: none;
	border: none;
	height: 100%;
	width: 100%;
}

[app].moving,
[app].resizing,
[app].moving .contentWrapper,
[app].resizing .contentWrapper {
	transition: none;
}

.Window:has([app].moving) { cursor: grabbing; }
.Window:has([app].X) { cursor: e-resize; }
.Window:has([app].Y) { cursor: n-resize; }
.Window:has([app].XY1) { cursor: nw-resize; }
.Window:has([app].XY2) { cursor: ne-resize; }

[icon] > * {
	pointer-events: none;
}

/* ----- Color customization ----- */

.Dock {
	border: var(--dock-border);
	background: var(--dock-background);
	color: var(--dock-text);
}

.Dock .Clock p {
	background: var(--dock-text);
	background-clip: text;
	color: transparent;
}

[launcher] { color: var(--launchers-text); }

[app] {
	background: var(--window-border);
	color: var(--window-title);
}

[app]::before { background: var(--window-background); }

[app]::after {
	background: var(--window-dots);
	background-size: 4px 4px;
	background-repeat: space;
}

[app].focus { background: var(--window-focus-border); }

[app].focus::before { background: var(--window-focus-background); }

[app].focus::after {
	background: var(--window-focus-dots);
	background-size: 4px 4px;
	background-repeat: space;
}

[app].opening { animation: var(--animations-open); }
[app].closing { animation: var(--animations-close); }

[app].minimised { animation: var(--animations-to-minimised); }
[app].minimised .contentWrapper { animation: var(--animations-to-minimised);
	min-height: 0;
	min-width: 0;
}

[app].from-minimised { animation: var(--animations-from-minimised); }
[app].from-minimised .contentWrapper { animation: var(---animations-from-minimised); }

[app].maximised { animation: var(--animations-to-maximised); }
[app].maximised .contentWrapper { animation: var(--animations-to-maximised);
	max-height: 100svh;
	max-width: 100svw;
}

[app].from-maximised { animation: var(--animations-from-maximised); }
[app].from-maximised .contentWrapper { animation: var(--animations-from-maximised);
	max-height: 100svh;
	max-width: 100svw;
}

.Dock.up {
	transition: var(--animations-dock-up);
	translate: 0 0;
	opacity: 1;
}
.Dock {
	transition: translate var(--animations-dock-down);
	translate: 0 var(--dock-bottom);
	opacity: 0;
}

@keyframes open {
	from { scale: 0 }
	to { scale: 1 }
}

@keyframes close {
	from { scale: 1 }
	to { scale: 0 }
}

@keyframes to-minimise-move {
	to {
		opacity: 0;
		translate: -50% -50%;
		left: 50%;
		top: 150%;
	}
}

@keyframes to-minimise-size {
	to {
		height: 0;
		width: 0;
	}
}

@keyframes from-minimise-move {
	from {
		opacity: 0;
		translate: -50% -50%;
		left: 50%;
		top: 150%;
	}
}

@keyframes from-minimise-size {
	from {
		height: 0;
		width: 0;
	}
}

@keyframes to-maximise-move {
	to {
		padding: 4px 0 0 0;
		left: 0;
		top: 0;
	}
}

@keyframes to-maximise-size {
	to {
		height: 100svh;
		width: 100svw;
	}
}

@keyframes from-maximise-move {
	from {
		padding: 4px 0 0 0;
		left: 0;
		top: 0;
	}
}

@keyframes from-maximise-size {
	from {
		height: 100svh;
		width: 100svw;
	}
}

@keyframes dock-up {
	from { translate: 0 200%; opacity: 0; }
	50% { opacity: 0; }
	to { translate: 0 0; opacity: 1; }
}

@keyframes dock-down {
	from { translate: 0 0; opacity: 1; }
	50% { opacity: 1; }
	to { translate: 0 200%; opacity: 0; }
}