* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, sans-serif;
}

html,
body {
	position: absolute;
	height: 100svh;
	width: 100svw;
	z-index: 0;
	left: 0;
	top: 0;
}

main {
	height: 100%;
	width: 100%;
}

.Space {
	pointer-events: none;
	position: absolute;
	inset: 0;
	left: 0;
	top: 0;
}

.Space > *:not(.ClickIgnore) {
	pointer-events: all;
}

.Background {
	background: rgb(255, 64, 32);
	z-index: 1;
}

.App.Space {
	z-index: 2;
	padding: 4px;
}

.Window.Space { z-index: 3; }

.Error.Space { z-index: 5; }

/* ----- App Launcher Component ----- */
.Launcher {
	flex-flow: column nowrap;
	align-items: center;
	aspect-ratio: 5/6;
	cursor: pointer;
	display: flex;
	padding: 4px;
	width: 64px;
	gap: 0px;

	* {
		width: 100%;
	}

	.Icon {
		background: blue;
		aspect-ratio: 1;
	}

	.Name {
		user-select: none;
		text-align: center;
	}
}